@import "./common/var.scss";
@import "./mixins/mixin.scss";

// bem创建样式
// (1)x-button b
@include b(button){
    display: inline-block;
    line-height: 1;
    min-height: 40px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    padding: 0 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: $--color-primary;
    vertical-align: middle;
    border: $--color-primary;
    color: $--color-white;
    border-radius: 5px;
    &:hover,&:focus{
        opacity: 0.5;
    }
    // icon 在嵌套中只要有样式是 d-icon
    & [class*='#{$namespace}-icon-']{
        vertical-align: middle;
        & + span{
            margin-left:5px
        }
    }

    // 状态 when
    @include when(disabled){
        cursor: not-allowed;
    }
    @include when(round){
        border-radius: 20px;
    }
    @include when(loading){
        pointer-events: none;
    }
    // 修饰符
    @include m(primary){
        @include button-type($--color-white,$--color-primary,$--color-primary);
        &:hover,
        &:focus{
            opacity: 0.5;
        }
    }
    @include m(success){
        @include button-type($--color-white,$--color-success,$--color-success);
        &:hover,
        &:focus{
            opacity: 0.5;
        }
    } 
    @include m(info){
        @include button-type($--color-white,$--color-info,$--color-info);
        &:hover,
        &:focus{
            opacity: 0.5;
        }
    }
    @include m(danger){
        @include button-type($--color-white,$--color-danger,$--color-danger);
        &:hover,
        &:focus{
            opacity: 0.5;
        }
    }
    @include m(warning){
        @include button-type($--color-white,$--color-warning,$--color-warning);
        &:hover,
        &:focus{
            opacity: 0.5;
        }
    }
    @include m(rainbow){
        @include button-type($--color-white,$--color-rainbow,$--color-rainbow);
        &:hover,
        &:focus{
           opacity: 0.5;
        }
    }
}