@use './mixins/mixin.scss' as *;
@use './common/var.scss' as *;
@include b(i) {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  position: relative;
  fill: currentColor; /* 常规css中是没有fill属性的，只在XML-CSS中存在，用于设置当前元素的填充内容，例如颜色，图片 */
  color: var(--color);
  font-size: inherit;

  svg {
    height: 1em;
    width: 1em;
  }
}
@font-face {
  font-family: "d-icons"; /* Project id 3940308 */
  src: url('./fonts/iconfont.woff2?t=1678282370818') format('woff2'),
       url('./fonts/iconfont.woff?t=1678282370818') format('woff'),
       url('./fonts/iconfont.ttf?t=1678282370818') format('truetype');
}

[class^="#{namespase}-icon-"] {
  font-family: "d-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.d-icon-jiazai:before {
  content: "\e69a";
}

.d-icon-jiazai1:before {
  content: "\e684";
}

.d-icon-jiazai2:before {
  content: "\e62b";
}

.d-icon-jiazai3:before {
  content: "\e60d";
}

.d-icon-jiazai4:before {
  content: "\e715";
}

.d-icon-caozuoruanjian-01:before {
  content: "\e606";
}

.d-icon-caozuoruanjian-02:before {
  content: "\e607";
}

.d-icon-caozuoruanjian-04:before {
  content: "\e608";
}

.d-icon-caozuoruanjian-03:before {
  content: "\e609";
}

.d-icon-caozuoruanjian-05:before {
  content: "\e60a";
}

.d-icon-caozuoruanjian-12:before {
  content: "\e60b";
}

.d-icon-caozuoruanjian-24:before {
  content: "\e60c";
}

.d-icon-shouye:before {
  content: "\e694";
}

.d-icon-shuimianqingkuang:before {
  content: "\e696";
}

.d-icon-shuimianshuju:before {
  content: "\e695";
}

.d-icon-a-baogao1:before {
  content: "\e699";
}

.d-icon-shouye1:before {
  content: "\e7cd";
}

.d-icon-gongneng:before {
  content: "\e7ce";
}

.d-icon-xiaoxi2:before {
  content: "\e7cf";
}

.d-icon-wode:before {
  content: "\e7d0";
}

.d-icon-shujufenxi:before {
  content: "\e7e0";
}

.d-icon-zijinfenxi:before {
  content: "\e7e3";
}

.d-icon-baobiao:before {
  content: "\e7ea";
}

.d-icon-tianjia:before {
  content: "\e7ef";
}

.d-icon-gengduo:before {
  content: "\e7f0";
}

.d-icon-shijian:before {
  content: "\e7f1";
}

.d-icon-chaxun:before {
  content: "\e7f5";
}

.d-icon-quanyixinxi:before {
  content: "\e619";
}

.d-icon-xitonggonggao:before {
  content: "\e61d";
}

.d-icon-shengchan:before {
  content: "\e620";
}

.d-icon-yonghuxinxi:before {
  content: "\e621";
}

.d-icon-zhiliang:before {
  content: "\e622";
}

.d-icon-tuokeshuju:before {
  content: "\e627";
}

.d-icon-qudaozheshuai:before {
  content: "\e62e";
}

.d-icon-time_1:before {
  content: "\e661";
}

.d-icon-triangleLineUp_1:before {
  content: "\e66b";
}

.d-icon-triangleLineDown_1:before {
  content: "\e66c";
}

.d-icon-triangleLineRight_1:before {
  content: "\e66d";
}

.d-icon-triangleLineLeft_1:before {
  content: "\e66e";
}

.d-icon-searchHistory_1:before {
  content: "\e680";
}

.d-icon-play:before {
  content: "\e614";
}
