/* 公共的变量 */
@import url("../mixins/config.scss");
$--color-primary:#5541e6;
$--color-white:#fff;
$--color-black:#000;
$--color-success:#0fb81a;
$--color-warning:#e1a837;
$--color-danger:#f31818;
$--color-info:#999;
