/* 公共的变量 */
@use "../mixins/config.scss";
$--color-primary:#336699;
$--color-white:#ffffff;
$--color-black:#000;
$--color-success:#99CC33;
$--color-warning:#FF9900;
$--color-danger:#FF0033;
$--color-info:#c2ccd0;
