/* 公共的变量 */
@use "../mixins/config.scss";
$--color-primary:#0099CC;
$--color-white:#ffffff;
$--color-black:#000;
$--color-success:#99CC33;
$--color-warning:#FF9900;
$--color-danger:#FF0033;
$--color-info:#c2ccd0;
$--color-rainbow:linear-gradient(45deg,#ff0000 0%,#ffb600 11%,#fff600 22%,#a5ff00 33%,#00a9ff 44%,#0400ff 55%,#8a00fc 66%,#ff00e9 77%,#ff0059 88%,#ff0000 100%);
